<li>
  {{question.author}} asked: <em>{{question.content}}</em>
  {{#if question.answers}}
    <p>{{question.answers.length}} answers so far!</p>
  {{else}}
    <p>No answers yet!</p>
  {{/if}}
{{#link-to 'question/question_id'}}View answers and add your own!{{/link-to}}
</li>
